@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    height: 100%;
    background: #fafafa;
}

.content {
    padding: 65px 0 65px 0;
    position:relative;
}


b{
    font-weight:700;
}

i{
    font-family:'Open sans - Italic';
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 48px;
    margin-bottom: 35px;
}


h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 36px;
}

h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom:18px;
}

h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #6747c7;
    min-height: 70px;
}

.header--dark {
    background: #1A1C1C;
}

.header .container {
    padding: 15px 0;
}

.header .col {
    padding-bottom: 0;
}

.logo img {
    width: 150px;
    -webkit-filter: invert(1) brightness(10);
    filter: invert(1) brightness(10);
}

.header .main-menu {
    text-align: right;
}

ul.top-nav {
    margin: 0;
    display: inline-block;
    padding: 0;
}

ul.top-nav li {
    display: inline-block;
    padding: 5px 25px;
    background-repeat: no-repeat;
    background-position: left center;
}

li.user-link.cart-user-available {
    background-image: url('images/icons/user.png');
    background-size: 15px;
}

ul.top-nav li.login-link {
    background-image: url('images/icons/login.png');
    background-size: 13px;
}

.cart-link {
    display: inline-block;
    margin-left: -20px;
}

.cart-link .cart-icon {
    display: inline-block;
    vertical-align: middle;
}

.cart-link .cart-icon span {
    border-left: 1px solid #fff;
    margin-top: 15px;
}

.cart-link .cart-icon img {
    padding: 2px 0 2px 20px;
    height:22px;
}

.cart-link .cart-item-count.has-items {
    display: inline-block;
}

.cart-link .cart-item-count {
    vertical-align: middle;
    background-image: url('images/cart-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
    max-width: 25px;
    padding: 5px 5px 7px 5px;
}

.cart-link .cart-item-count span {
    background-color: #ff5e5f;
    border-radius: 20px;
    color: #fff;
    font-weight: 800;
    padding: 2px 7px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
}

ul.top-nav li a {
    color: #fff;
    font-weight: 400;
}

a {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul.top-nav li a:hover,
ul.top-nav li a:focus,
ul.top-nav li a:active {
    text-decoration: none;
    color: #cdc3ea;
}

ul.top-nav li .cart-link a:hover,
ul.top-nav li .cart-link a:focus,
ul.top-nav li .cart-link a:active {
    text-decoration: none;
    color: #fff;
}

.payment-block form{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.payment-block form input,
.payment-block form label{
    display:block;
}

.payment-block form label{
    margin-top:15px;
    font-size:16px;
}

.payment-block form input, .payment-block form select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    height: 50px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.expiration-date,
.security-code {
    display: inline-block;
    width:49%;
    margin-bottom:10px;
}

.expiration-date label,
.security-code label{
    margin-top:0px!important;
}

.expiration-date{
    float:left;
}

.security-code{
    float:right;
}

.payment-block .btn-green {
    background: #7cc576;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border:0;
    max-width:200px;
    margin:0 auto;
}

.btn-green:hover {
    outline: none !important;
    background: #44b344;
}

.payment-block {
    border: 1px solid #DCDCDC;
    display: inline-block;
    padding: 0 35px 35px 35px;
    width: 100%;
    margin-bottom:0px;
    background: white;
}

.order-summary {
    padding: 0 35px 10px 35px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #d4d4d4;
    margin: 0 0 20px;
    background: white;
}

.order-summary .title-box,
.payment-block .title-box{
    margin: 0;
    padding: 22px 0;
    position: relative;
    border-bottom: 1px solid #d4d4d4;
}

.order-summary h2,
.payment-block h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.order-summary .cart-form {
    padding-bottom: 30px;
}

.order-summary .summary-list li {
    padding: 15px 0 14px;
    display: table;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open sans', sans-serif;
}

.order-summary li .alignleft {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.order-summary li .alignright {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.cart-on .order-summary .summary-list li del{
    font-family: 'Open sans', sans-serif;
    font-weight: 400!important;
    color: #666;
    display: inline-block;
    margin: 0 10px;
}


.order-summary .summary-list li.last {
    border-top: 1px solid #cccccc !important;
    padding-top: 35px;
    margin-top: 25px;
    padding-bottom: 8px;
}

ul.list-unstyled.summary-list{
    padding: 25px 0 5px 0;
    margin: 0;
}

.order-summary .summary-list li .alignright strong {
    font-size: 24px;
    color: #957fd5;
    margin-left: 10px;
}

ul.list-inline.specification-list {
    text-align: center;
}

.order-summary .specification-list li img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 200px;
}

.money-back-guarantee {
    background: #F6F5FB;
    padding: 30px;
    margin-bottom: 30px;
}

.money-back-guarantee .money-back-badge {
    width: 120px;
    height: auto;
    float: right;
    margin-left: 1em;
}

.money-back-guarantee h3 .large {
    font-weight: 700;
    font-size: 34px;
}
.money-back-guarantee h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin: 25px 0 35px;
    font-family: 'Open Sans', sans-serif;
}
.money-back-guarantee p {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.section-purple {
    background-color: #6747c7;
}

.section-purple .content {
    color: #fff;
    padding: 25px 0 25px 0;
}

.section-purple .content p{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
    line-height: 30px;
}

.section-purple .specials img {
    -webkit-filter: brightness(10);
    filter: brightness(10);
    margin-right: 15px;
    width: 40px !important;
}

@media (max-width: 1024px) {
    .logo.col {
        padding: 5px;
    }
    img {
        position: relative !important;
    }
    .money-back-guarantee .money-back-badge {
        width: 100px;
        height: auto;
        float: right;
        margin-left: 1em;
    }
    .money-back-guarantee h3 .large {
        font-weight: 700;
        font-size: 26px;
    }
    .money-back-guarantee h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        margin: 25px 0 35px;
        font-family: 'Open Sans', sans-serif;
    }
    .money-back-guarantee p {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }
    .specials .container .content .col {
        display: block;
        width: 100%;
        margin: 15px 0 5px 0;
    }
}

@media (max-width: 768px) {
    .money-back-guarantee h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 26px;
        margin: 25px 0 35px;
        font-family: 'Open Sans', sans-serif;
    }
}

@media (max-width: 425px) {
    .header .col-xs-12{
    text-align:center;
    }
    .logo img{
        max-width:140px;
        margin-bottom:15px;
    }
    .content {
        padding: 35px 0 35px 0!important;
        position: relative;
    }
    .container {
        padding-right: 0!important;
        padding-left: 0!important;
    }
    ul.top-nav li {
        display: inline-block;
        padding: 2px 8px 2px 18px;
        background-repeat: no-repeat;
        background-position: left center;
    }
}

@media (max-width: 320px) {
    .payment-block, .order-summary {
        padding: 0px 20px 20px;
    }

}

.btn.btn-success.btn-lg {
    padding: 10px 60px;
    font-weight: 700;
    margin-top:20px;
}

.thank-you {
    max-width: 600px;
    margin:0 auto;
}
.thank-you h1 {
    font-size:50px;
    font-weight: bold;
    margin: 50px;
    margin-top: 30px;
}
.thank-you h4 {
    font-size:22px;
    font-weight: 400;
    color: #696569;
    line-height: 40px;
}
.thank-you .btn {
    color: #fff;
    background-color: #9581D1;
    border: 1px solid #9581D1;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 17px;
    font-weight: bold;
    margin:40px;
}
.thank-you .btn:hover {
    background-color: #7e6aba !important;
    border: 1px solid #7e6aba;
}
.thank-you h5 {
    font-weight: bold;
    font-size: 17px;
}
.thank-you .order-info {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    margin-bottom:15px;
}
.thank-you .order-info span {
    background-color: #EFEBF9;
    padding:7px 10px;
    margin:5px;
    border-radius: 3px;
}

.help-block {
    background-color: #fff;
    border: 1px solid #EDEDED;
    padding: 35px;
    border-radius: 3px !important;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

.help-block h5 {
    font-weight: 400;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 20px;
    color:#000;
}

.help-block a {
    display: block;
    color: #9581D1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-top:15px;
}

@media (min-width: 992px) {
    .help-block.col-md-4 {
        width: 30.33333333%;
    }
    .help-block .block-content {
        min-height: 130px;
    }
    .help-block {
        min-height: 240px;
    }
}
@media (min-width: 1200px) {
    .help-block.col-md-4 {
        width: 31.33333333%;
    }
}

hr {
    margin-top: 10px;
    margin-bottom: 60px;
}

.getting-started h4 {
    text-transform: none;
    font-size: 26px;
}

.getting-started h6 {
    font-size: 22px;
    font-weight: 300;
}

.getting-started .row {
    margin-top: 60px;
}

.ssl-badge {
    margin: 15px 0;
    text-align: center;
    margin-left: 10px;
}
.ssl-badge img {
    max-width: 50px;
    width: 100%;
    float: left;
    height: 65px;
}
.ssl-badge .ssl-badge-text {
    display: inline-block;
    width: 75%;
    text-align: left;
}
.ssl-badge .ssl-badge-text h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}
.ssl-badge .ssl-badge-text p { text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: grey;
}

.logo.top-white {
    margin-top: 6px;
}


.note.note-info {
    padding-top: 35px;
}

.note.note-danger {
    padding: 10px;
    background-color: #ffe5d1;
    border: 1px solid #fdc397;
    margin-top: 10px;
}
.btn.big {
    padding: 15px;
    background-color: #7ac673;
    border: 1px solid #62b75a;
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
}
.cart-info .payment-block .portlet .portlet-title {
    display:none;
}
#payment_form, #payment_form2 {
    margin: 0 auto !important;
    margin-top:40px !important;
}
#payment_form .control-group .control-label,  #payment_form2 .control-group .control-label{
    text-align: left;
    font-size: 14px;
    line-height: 24px;
}
#payment_form h5, #payment_form2 h5 {
    font-size: 15px;
    border-bottom: 1px solid #e6e4e4;
    padding-bottom: 10px;
    margin-top: 30px;
    color: #757575;
}
#payment_form .note.note-danger, #payment_form2 .note.note-danger{
    color: #F44336;
}
#payment_form .note h5, #payment_form2 .note.note-danger{
    border-bottom: 0;
}
#payment_form #phone_cc, #payment_form2 #phone_cc{
    width: 65px !important;
    float: left;
    margin-right: 10px;
}
#payment_form2 #phone{
    width: 423px !important;
}
@media (min-width: 768px) {
    #payment_form #phone {
        width: 423px !important;
    }
}
#payment_form #submit_button, #payment_form2 #submit_button{
    min-width: 220px !important;
    background-color: #4285F4;
    color: white;
    margin-right: 0 !important;
    font-weight: 700;
}
a.cart-back {
    border: 0;
    font-weight: 600;
    min-width: 124px;
    padding: 10px 6px;
    color: grey;
    text-transform: none;
    background-image: url(images/arrow-back-cart.png);
    background-repeat: no-repeat;
    background-size: 18px;
    text-indent: -10000px;
    margin: 15px 0;
    width: 20px;
    display: block;
}

.order-summary .summary-list li.item {
    padding: 5px 0;
    font-size: 13px;
}
.order-summary .summary-list li.taxes {
    padding-top: 25px;
    margin-top: 15px;
}

.order-summary .summary-list li .alignright {
    font-weight: 600;
}


.gateway-container {
    border: 1px solid #ccc;
    padding: 45px 45px;
}

.gateway-container .gateway-list {
    margin: 5px 0;
    text-align: center;
}

.gateway-container .gateway-list .gateway.active,
.gateway-container .gateway-list .gateway:focus,
.gateway-container .gateway-list .gateway:hover {
    border: 1px solid #6747c7;
    background: #f2effa;
    color: #333;
}

.gateway-container .gateway-list .gateway {
    padding: 0 20px 0 45px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 80px;
    width: 230px;
    line-height: 80px;
    text-align: center;
    margin: 10px 8px 10px 8px;
    border-radius: 5px;
    position: relative;
}

.gateway-container .gateway-list a {
    outline: 0;
}

.gateway-container .gateway-list .gateway.active::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 30px;
    border-radius: 50%;
    background: #8166d1;
    box-shadow: inset 0 0 0 3px #fff;
    border: 2px solid #8166d1;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.gateway-container .gateway-list .gateway::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 30px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

#toast-container {
    margin-top: 65px !important;
}

#invoice-id-cart-gray {
    color:#d4d4d4;
    margin-bottom: 0;
}

#invoice-id-cart {
    font-weight: bold;
    margin-bottom: 0;
}

.cart-wrapping{
    margin-top: 55px; padding: 0 50px 20px;
}

.cart-wrapping-inner {
    padding: 30px 0px;
    border-top: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
}

.cart-addon .primary-text{
    display: block;
    margin-bottom: 10px;
    color: #333;
    background-image: url(/themes/h2/congrats_bubbe_cart.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 25px 25px 35px 25px;
    background-size: 250px;
    font-size: 24px;
    font-weight: 700;
    margin-top: -75px;
}

.cart-addon h2{
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.div-9-percent{
    max-width: 9%;
}

.div-inline{
    display: inline-block;
    vertical-align: top;
}

.div-checkbox{
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 5px;
    margin: 15px 10px;
    background: rgb(255, 255, 255);
}

.div-checkbox-checked{
    background-image: url(/themes/h2/checkmark.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.cart-addon .text{
    max-width: 80%;
}

.cart-addon .text h4{
    font-size: 18px;
}

.cart-addon .text p{
    font-size: 14px;
}

.cart-radio-group{
    position: relative;
}

.cart-radio-div:hover{
    cursor: pointer;
}

.cart-radio-div{
    border: 1px solid #ccc;
    display: inline-block;
    height: 70px;
    width: 230px;
    margin: 10px 8px 10px 8px;
    border-radius: 5px;
    position: relative;
    color:grey;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

.cart-radio-div.selected{
    border: 1px solid #6747c7;
    background: #f2effa;
    color: #333;
}

.period {
    font-size: 14px;
    font-weight: 600;
    padding-right: 0;
}

.div-radio-wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-price{
    font-weight: bold;
}

.selected .current-price{
    font-weight: bold;
    color: #6747c7;
}

.price-before{
    text-decoration: line-through;
}

.div-radio-wrap:hover {
    color: #6747c7;
    background: #f2effa;
}

.cart-wrapping.cart-addon .cart-addon-ssl-install:hover {
    cursor: pointer;
}

.ajax-loader-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}

.overlay.active{
    opacity: 0.3;
    pointer-events: none;
}

#bitdegree input.token_address {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    width:390px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
#bitdegree div#qrcode {
    margin: 0 auto;
    width:390px;
    border: 1px solid #dfdfdf;
    padding: 15px 67px;
}
#bitdegree div.note {
    background-color: #E8F6FC !important;
    border-color: #57b5e3 !important;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.order-summary .summary-list div.discount-active {
    font-size:11px;
    font-weight:700;
    color:#674CC4;
    text-transform: uppercase;
    line-height: 12px;
}

#payment-form .cc-number {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    height: 50px;
    color: #555;
    padding: 15px 12px;
    border-radius: 4px;
}

#payment-form .cc-exp, #payment-form .cc-cvc {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    height: 50px;
    color: #555;
    padding: 15px 12px;
    border-radius: 4px;
}

#payment-form .expiry {
    width: 40%;
    padding-right: 15px;
    float: left;
}

#payment-form .cvv {
    width: 35%;
    float: left;
}

.button-locked {
    pointer-events: none;
}

/* Sticky Footer */
.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
}
.sticky__container {
    padding: 5px 10px;
    width: 100%;
}
.sticky__holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sticky__text {
    font-size: 16px;
    font-weight: 800;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}
.sticky__text img {
    margin-right: 20px;
    max-width: 30px;
}

.canvas {
    height: 100vh;
}